@model IEnumerable<N01576807_Assignment3.Models.Student>
@{
    ViewBag.Title = "List";
}

<h2>List of Students</h2>



@foreach (var student in Model)
{
    <div><a href="">@student.StudentFname @student.StudentLname</a></div>

}
